.git/
.gitignore
.idea/
.vscode/
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
data/
staticfiles/
*.log
*.iml
.DS_Store
Thumbs.db
.env
docker-compose.yml
Dockerfile
.dockerignore
entrypoint.sh
